body{
    width: 100%;
    height: 100% !important;
    background-color: #f5f5f5;
}

.filterable .filters input.search[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.panel {
    width: 50%;

    margin-left: 25%;
}

#white{   /* Makes the filter out full/empty rooms white!  */
    color: white;
}
#game,#language{
    height: 30px;
    width: 200px;
    margin: 4px;
    color: #4d4d4d;
}
#groupname,#size{
    height: 30px;
    width: 200px;
    margin: 5.5px;
    color: #4d4d4d;

}
#createroom{
    margin-top: 5px;
    color: #4d4d4d;
}

.checkin{
    margin-top: -330px;
    margin-right: 150px;
    width: 200px;
    float: right;
}

#hour,#minute{
    width: 50px;
    margin-left: 2px;
}

#time{
    float: right;
}
.btn-toolbar{
    width: 400px;
    margin-left: 400px;
}
.title {
    text-align: center;
    font-size: 28px;
}


p#current, p#roomsize{
    visibility: hidden;
}

button.btn.pull-right{
    margin-right: 5px;
}

#loginimages {
    margin-left: 30%;
    margin-right: 70%;
}
#google{
    margin-top: 20px;
    margin-bottom: 20px;
}


h1#title {
    margin-left: 32%;
    margin-right: auto;
}
#submit{
    margin-right: 50px;
}

ul#memberlist {
    float: left;
    margin-top: -1%;
    margin-left: auto
    margin-right: auto
    padding-bottom: 400px;

    width: 50%;
    height: 400px;
    font-size: 20px;
}

.dropdown#userdropdown {
    float: right;
    display: inline-block;
}

.alert.alert-success, .alert.alert-info, .alert.alert-danger, .alert.alert-warning {
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    text-align: center;
}

.progress {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#progressbar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.chatwindow {
    width: 290px;
    float: left;
    height: 15em;
    overflow: auto;
    margin-left: 100px;
    margin-top: 70px;

}
.control-group{

}
#chatcontrols {
    float:left;
    margin-top: 260px;
    margin-left: -310px;
}
input#empty {
    margin-left: 10px;

}
input#full {
    margin-left: 10px;
}

#hide {
    float: left;
    margin-top: 30px;
}

#table_filter {
    margin-top: -30px;
    float: right;
    margin-right: 10px;

}
th#titles{
    color: white !important;
}
#header-content{
    padding-top: 400px !important;
}
ul.nav navbar-nav navbar-right{
    margin-top: 30px !important;
}
#create, #createbg, #flasherrors {
    background-image: url(/img/footer_lodyas.png);

}
#alias {
    background-image: url(/img/footer_lodyas.png);
    height: 100%;

}
#navigators {
    float: right;
    margin-left: 120px;
    margin-top: 10px;
    position: fixed;
}

#navbaruser{
    float: right;
    margin-top: 10px;
}

#sign_out {
    margin-top: 10px;
}

#welcome {
    color: #e6e6e6;
    margin-left: 5px;
}
::-moz-selection {
    background-color: #e5e5e5;
    color: #ffffff;
}

::selection {
    background-color: #e5e5e5;
    color: #ffffff;
}
#table_filter{
    color:white;
}

#signin {
    margin-top: 10px;
}

#roomcontainer {
    max-width: 29%;
    margin-right: auto;
    margin-left: 3%;
    float: left;
    display: inline-block;
    /*background-color: dimgrey;*/
}

#roomtitle {
    max-width: 30%;
    max-height: 100px;
    /*background-color: gray;*/
}

#titletable{
    margin-left: auto;
    margin-right: auto;
}

.room_name {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

#alerts {
    padding-top: 120px;
}

td.username, td.ready_until {
    color: #333;
}

td.ready_until {
    text-align: right;
    margin-top: 5px;
}

th.header_readyuntil {
    text-align: right;
}

td.room_size {
    text-align: center;
    align-content: center;
}

#optionscontainer {
    float: right;
    max-width: 20%;
    display: inline-block;
    margin-right: 10%;
    margin-top: 1.5%;
    padding-left: 6%;
}

#wrapper {
    width: 100% !important;
    height: 100%;
}

#chatwrapper {
    float: left;
    max-width: 30%;
    margin-top: 9%;
    margin-left: 3%;
    display: inline-block;
}

#chatmessages {
    height: 15em;
    overflow: auto;
    max-width: 100%;
    display: inline-block;
}

#chatcontrols {
    max-width: 100%;
    display: inline-block;
}

input[type="text"] {
    color: #333;

}
input[type="search"] {
    color: #333;
}

#tablewrapper {
    margin-top: 10%;
}

.createwrapper {
    margin-top: -30%;
}

div#mainalert {
    height: 80px;
    width: 300px;
    display: inline-block;
    margin-top: 15%;
    color: #3c763d;
}

