
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.navbar {
    margin-right: 40px;
}
.panel {
    width: 50%;

    margin-left: 25%;
}
.doge{
    margin-left: 30%;
    margin-right: auto;
}
.checkin{
    margin-top: 5%;
}
#name{
    width: 150px;
    height: 30px;
    margin-right: 5px;

}
#hour,#minute{
    width: 50px;
    margin-left: 2px;
}


.Members{
    float: left;
    margin-top: 7%;
    margin-left: 35%;
    width: 30%;
    height: 400px;
    overflow-y: auto;
    font-size: 20px;
    margin-right: 5%;
    padding-right: 5%;
}
#time{
    float: right;
}
.btn-toolbar{
    width: 400px;
    margin-left: 400px;
}
.title {
    text-align: center;
    font-size: 28px;
}
