body{
    width: 100%;
    height: 100% !important;
    background-color: #f5f5f5;
}

.filterable .filters input.search[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.panel {
    width: 50%;

    margin-left: 25%;
}
.doge{
    margin-left: 30%;
    margin-right: auto;
}
#game,#language{
    text-decoration-color: black;
    color: black;
    height: 30px;
    width: 200px;
    margin: 4px;
}
#groupname,#size{
    text-decoration-color: black;
    color: black;
    height: 30px;
    width: 200px;
    margin: 5.5px;
}

#createbutton{
    color: #333333;
}

.checkin{
    margin-top: -330px;
    margin-right: 150px;
    width: 200px;
    float: right;
}

#hour,#minute{
    width: 50px;
    margin-left: 2px;
}



#Members{
    margin-top: -1%;
    padding-bottom: 400px;
    width: 45%;
    height: 400px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
#time{
    float: right;
}
.btn-toolbar{
    width: 400px;
    margin-left: 400px;
}
.title {
    text-align: center;
    font-size: 28px;
}


p#current, p#roomsize{
    visibility: hidden;
}

button.btn.pull-right{
    margin-right: 5px;
}

#loginimages {
    margin-left: 30%;
    margin-right: 70%;
}
#google{
    margin-top: 20px;
    margin-bottom: 20px;
}


h1#title {
    margin-left: 32%;
    margin-right: auto;
}
#submit{
    margin-right: 50px;
}

ul#memberlist {
    float: left;
    margin-top: -1%;
    margin-left: auto
    margin-right: auto
    padding-bottom: 400px;

    width: 50%;
    height: 400px;
    font-size: 20px;
}

.dropdown#userdropdown {
    float: right;
    display: inline-block;
}

.alert.alert-success, .alert.alert-info, .alert.alert-danger, .alert.alert-warning {
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    text-align: center;
}

.progress {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#progressbar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.chatwindow {
    width: 290px;
    float: left;
    height: 15em;
    overflow: auto;
    margin-left: 100px;
    margin-top: 70px;

}
.control-group{

}
#chatcontrols {
    float:left;
    margin-top: 260px;
    margin-left: -310px;
}
input#empty {
    margin-left: 10px;

}
input#full {
    margin-left: 10px;



}
#hide {
    float: left;
    margin-top: 30px;


}
#table_filter {
    margin-top: -30px;
    float: right;
    margin-right: 10px;

}
th#titles{
    color: white !important;
}
#header-content{
    padding-top: 300px !important;
}
ul.nav navbar-nav navbar-right{
    margin-top: 30px !important;
}
#create {
    background-image: url(/img/footer_lodyas.png);
}
#navigators{
    float:right;
    margin-left: 120px;
    margin-top: 10px;
    position:fixed;
}
#white{
    color: white;
}

#table_filter{
    color: white;
}
